body {
  background-color: #AFEEEE;
}

h1, p {
  text-align: center;
  font-family: 'Herr Von Muellerhoff', cursive;
}

h1 {
  font-size: 70pt;
  font-size: 6.5vh;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.4em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;

}

p {
  font-size: 30pt;
  display: inline;
  line-height: 0;
}

td {
    border: AliceBlue solid 3px;
    width: 20vh;
    height: 20vh;
}


.table {
  /*width: 400px;
  height: 400px;*/
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
