body {
  background-color: #AFEEEE;
}

h1, p {
  text-align: center;
  font-family: 'Herr Von Muellerhoff', cursive;
}

h1 {
  font-size: 70pt;
}

p {
  font-size: 30pt;
  display: inline;
  line-height: 0;
}

td {
    border: AliceBlue solid 3px;
}


.table {
  width: 400px;
  height: 400px;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
}
