body {
  background-color: #AFEEEE;
}

h1, p, div {
  text-align: center;
  font-family: 'Herr Von Muellerhoff', cursive;
}

h1 {
  font-size: 75pt;
  font-size: 7vh;
  -webkit-margin-before: 0.4em;
  -webkit-margin-after: 0.3em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;

}

p {
  font-size: 30pt;
  display: inline;
  line-height: 0;
}

td {
    border: AliceBlue solid 2px;
    width: 18vh;
    height: 18vh;
}


.table {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

div {
  font-size: 28pt;
}
